* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
:root {
    --main-color: rgb(7, 49, 26);
    --d-main-color: rgb(6,44,23);
    --snd-color: white;
    --thrd-color: rgb(60,60,60);
    --fourth-color: rgb(240,240,240);
    --border: rgba(255, 255, 255, 0.15);
}
body {
    height: 100vh;
    background-color: #1c451f;
}
body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-image: url(../imgs/Texture.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 75px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    color: var(--snd-color);
}
header img {
    width: 35px;
}
.links {
    position: relative;
}
.links .lnk , .links .setting {
    margin-left: 10px;
    position: relative;
    color: var(--snd-color);
    text-decoration: none;
    position: relative;
    z-index: 99;
    display: inline-block;
}
.links .lnk {
    transition: transform 0.5s ease;
}
.links .setting {
    transition: transform 1.5s ease;
}
.links .lnk:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.links .setting:hover {
    transform: rotate(360deg);
    cursor: pointer;
}
.page {
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page > h2 , .page > h3 {
    color: var(--snd-color);
    margin-bottom: 50px;
}
.page > button {
    width: 200px;
    height: 60px;
    margin-bottom: 10px;
    border: none;
    /* border: 1px solid var(--snd-color); */
    border-radius: 5px;
    /* background: linear-gradient(to right, rgb(7, 49, 26) 0%, rgba(0, 0, 0, 0) 30% 70% , rgb(7, 49, 26) 100%); */
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--snd-color);
    font-weight: bold;
    font-size: 18px;
}
.page > button:hover {  
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    /* background: linear-gradient(to right, rgb(7, 49, 26) 0%, rgba(0, 0, 0, 0) 60% 40% , rgb(7, 49, 26) 100%); */
}
form , .list {
    width: 300px;
    /* background-color: rgba(10, 71, 37, 0.5); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px 5px 10px;
    border: 3px solid var(--border);
}
form img {
    width: 50px;
}
form .container {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-top: 3px solid var(--border);
}
form * {
    color: var(--snd-color);
    margin-bottom: 30px;
}
form .status {
    text-align: center;
    font-weight: bold;
}
form input {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
}
.btn {
    padding: 8px 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.5s ease;
    color: var(--snd-color);
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transform: scale(1.1);
}
.page table {
    width: 60%;
    min-width: 370px;
    border-collapse: collapse;
    text-align: center;
    color: var(--snd-color);
}
.page table th {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}
.page table th:hover {
    cursor: pointer;
}
.page table td , .page table th {
    border: 1px solid var(--border);
    padding: 4px;
}
.page table button {
    width: 100%;
    transition: transform 1s ease;
    background-color: initial;
    border: none;
    color: var(--snd-color);
}
.page table button:hover {
    cursor: pointer;
}
.inp {
    max-width: 300px;
    height: 30px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid var(--border);
    color: var(--snd-color);
}
.clients-container , #units-container{
    max-height: calc(100vh - 22vh);
    min-height: 0;
    position: absolute;
    top: 15vh;
    overflow: auto;
    border-top: 1px solid var(--border);
    margin-top: 50px;
    scroll-behavior: smooth;
}
.card {
    width: 300px;
    padding: 15px 0 5px 0;
    color: var(--snd-color);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 25px;
}
.card:hover {
    cursor: pointer;
}
.card p , .card h3 {
    width: 100%;
    padding: 2px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}
.card button {
    margin-left: 25px;
    color: var(--snd-color);
}
.page-header {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15vh;
}
.hidden {
    display: none;
}
.hide {
    display: none;
}
.edit-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-container form , .list {
    background-color: rgba(47, 58, 48, 0.9);
}
.edit-container form .inp {
    background-color: black;
}
.list {
    width: 300px;
    height: auto;
    color: var(--snd-color);
    position: absolute;
    z-index: 10000;
}
.list h3 {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
}
.list h3:hover {
    cursor: pointer;
}
@media (min-width: 750px) {
    header {
        padding: 10px 100px;
    }
}
